version: 2
updates:
  - package-ecosystem: composer
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    open-pull-requests-limit: 10
    versioning-strategy: increase
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    open-pull-requests-limit: 10
  - package-ecosystem: npm
    directory: "/website"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    open-pull-requests-limit: 10
    versioning-strategy: increase
