version: 2
updates:
  - package-ecosystem: composer
    open-pull-requests-limit: 20
    versioning-strategy: widen
    directory: "/"
    schedule:
      interval: weekly
      day: friday
    groups:
      laminas:
        patterns:
          - "laminas/*"
      phpunit:
        patterns:
          - "phpunit/*"
          - "spatie/phpunit-snapshot-assertions"
      dev-dependencies:
        dependency-type: development

  - package-ecosystem: composer
    open-pull-requests-limit: 20
    versioning-strategy: widen
    directory: "/tools"
    schedule:
      interval: weekly
      day: friday
    groups:
      tools-dependencies:
        patterns:
          - "*"

  - package-ecosystem: npm
    open-pull-requests-limit: 20
    versioning-strategy: widen
    directory: "/website"
    schedule:
      interval: weekly
      day: friday
    groups:
      docusaurus:
        patterns:
          - "@docusaurus/*"
          - "@tsconfig/docusaurus"
          - "clsx"
      react:
        patterns:
          - react
          - react-*
          - "@types/react"
          - "@types/react-*"
      dev-dependencies:
        dependency-type: development

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: friday
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
