/.github/ export-ignore
/resources/ export-ignore
/src/Documentation/ export-ignore
/scripts/ export-ignore
/tests/ export-ignore
/website/ export-ignore
/.dockerignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.nvmrc export-ignore
/Dockerfile export-ignore
/Makefile export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
