parameters:
    ignoreErrors:
        - '/Access to an offset on an unknown class Laminas\\ServiceManager\\InitializersConfigurationType/'
    laminasframework:
       serviceManagerLoader: tests/phpstan.php
    excludePaths:
        - src/Documentation/Generator/UsagePage/Prettifier/SourceFile.php
        - src/Documentation/Generator/UsagePage/Prettifier/PhpPrettifier.php