<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Bootstrap.php" colors="true" backupGlobals="false" backupStaticProperties="false" stopOnFailure="true" failOnWarning="true" failOnDeprecation="true" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnTestsThatTriggerErrors="true" displayDetailsOnTestsThatTriggerDeprecations="true" cacheDirectory="../tools/cache/phpunit" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <source>
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Documentation">
      <directory suffix="Test.php">./TestSuite/Documentation/</directory>
      <file>./TestSuite/Documentation/TestCase.php</file>
    </testsuite>
    <testsuite name="TwbsHelper">
      <directory suffix="Test.php">./TestSuite/TwbsHelper/</directory>
    </testsuite>
  </testsuites>
</phpunit>
