<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Bootstrap.php" colors="true" verbose="true" backupGlobals="false" backupStaticAttributes="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" cacheResultFile="../tools/cache/.phpunit.result.cache">
  <coverage>
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Documentation">
      <directory suffix=".php">./TestSuite/Documentation/</directory>
      <exclude>./TestSuite/Documentation/Tests/</exclude>
    </testsuite>
    <testsuite name="TwbsHelper">
      <directory suffix=".php">./TestSuite/TwbsHelper/</directory>
      <exclude>./TestSuite/TwbsHelper/AbstractViewHelperTestCase.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
