<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Bootstrap.php" colors="true" backupGlobals="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true">
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Documentation">
      <directory suffix=".php">./TestSuite/Documentation/</directory>
      <exclude>./TestSuite/Documentation/Tests/</exclude>
    </testsuite>
    <testsuite name="TwbsHelper">
      <directory suffix=".php">./TestSuite/TwbsHelper/</directory>
      <exclude>./TestSuite/TwbsHelper/AbstractViewHelperTestCase.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
