<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="#content">Content</a>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#typography">&nbsp;&nbsp;Typography</a>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#abbreviations">&nbsp;&nbsp;&nbsp;&nbsp;Abbreviations</a>            <li class="nav-item"><a class="nav-link" href="#blockquotes">&nbsp;&nbsp;&nbsp;&nbsp;Blockquotes</a>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#naming-a-source">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Naming a source</a>                <li class="nav-item"><a class="nav-link" href="#reverse-layout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reverse layout</a>            </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#list">&nbsp;&nbsp;&nbsp;&nbsp;List</a>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#unstyled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unstyled</a>                <li class="nav-item"><a class="nav-link" href="#inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inline</a>            </ul>
            </li>
        </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#tables">&nbsp;&nbsp;Tables</a>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#examples">&nbsp;&nbsp;&nbsp;&nbsp;Examples</a>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#basic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Basic</a>                <li class="nav-item"><a class="nav-link" href="#invert-the-colors">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invert the colors</a>            </ul>
            </li>
        </ul>
        </li>
    </ul>
    </li>
</ul>