<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="#content">Content</a>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#typography">&nbsp;&nbsp;Typography</a>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#abbreviations">&nbsp;&nbsp;&nbsp;&nbsp;Abbreviations</a></li>
            <li class="nav-item"><a class="nav-link" href="#blockquotes">&nbsp;&nbsp;&nbsp;&nbsp;Blockquotes</a></li>
            <li class="nav-item"><a class="nav-link" href="#naming--a--source">&nbsp;&nbsp;&nbsp;&nbsp;Naming a source</a></li>
            <li class="nav-item"><a class="nav-link" href="#reverse--layout">&nbsp;&nbsp;&nbsp;&nbsp;Reverse layout</a></li>
        </ul>
        </li>
    </ul>
    </li>
</ul>